/* ( --- Start of project.css --- ) */
/* ( --- A sample project-specific CSS file for lwarp --- ) */

/* Uncomment one of the following: */
@import url("lwarp.css") ;
/* @import url("lwarp_formal.css") ; */
/* @import url("lwarp_sagebrush.css") ; */

/* Project-specific CSS setting follow here. */
/* . . . */

span.my-inline-math {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

span.node-id {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    font-size: 112.5%;
}

div.bodyandsidetoc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

main.bodycontainer {
    max-width: 800px;
    margin: 40px auto;
    float: none;
}

div.sidetoccontainer {
    float: none;
    
}

em {
    font-style: normal;
    font-weight: bold;
}

div.book, h1, h2, h3, h4, h5, h6, span.paragraph, span.subparagraph, div.sidetoccontainer, nav
{
    font-family: unset;
}

/* ( --- End of project.css --- ) */
